.card-layout {
 background: #182335;
  border-radius: 20px;
  padding: 20px;
  margin: 5px 0 0 32px;

  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(255, 255, 255, 0.05);

  height: auto;        
  min-height: 300px;   
  width: 82vw;
  display: flex;
  flex-direction: column;
}

.light .card-layout {
  background: #d2c4c4;
  border-color: #d3deec;
  box-shadow: 0 8px 20px rgba(10, 20, 33, 0.12);
}
